CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.inc
*.mod
*.o
*.gcda
*.gcno
test/bin
*build*
.archive/
src/ED_VERSION.f90
.DS_Store
*~
src/python/edipy2/__pycache__
doc/sphinxfortran/__pycache__
doc/f2py/__pycache__
